head
  meta(charset='utf-8')
  title TeleMe Desktop
  meta(http-equiv='Cache-Control' content='no-siteapp')
  meta(http-equiv='Cache-Control' content='no-transform')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0')
  meta(name='applicable-device' content='mobile')
  meta(name='format-detection' content='telephone=no')
  link(rel='stylesheet' href='./css/bootstrap.min.css')
  link(rel='stylesheet' href='./css/ready.min.css?r=65eddefa39f11823eb11217b43744b30')
body
  #app
    .wrapper(data-reactroot='' style='background: rgb(242, 243, 248);')
      .main-header(style='background: transparent; border-bottom: 0px;')
        .logo-header.mt-3
          .logo
            img(src='./images/logo.png' style='height: 30px; width: auto;')
          button.topbar-toggler.more
            i.la.la-ellipsis-v
        nav.navbar.navbar-header.navbar-expand-lg
          .container-fluid
            ul.navbar-nav.topbar-nav.ml-md-auto.align-items-center
              li
                a.btn.btn-outline-secondary(href='https://t.me/telemedotio' target='_blank' style='border: 0px; line-height: 36px;') Help Desk
      .container.h-100
        .row.h-100.justify-content-center.align-items-center
          .p-3.card.card-body(style='max-width: 588px;')
            h5#ELTitle.text-center.my-3.card-title Connecting to server...
            p#ELLabelUp.mb-2.card-text
            p#ELLabelDown.mb-2.card-text

    .fixed-bottom.w-100.text-center.text-muted.pb-2
      | Copyright 2018 TeleMe, Inc. All rights reserved.
      a.ml-2.text-muted(href="http://teleme.io" target="_blank") www.teleme.io

  script(type='text/javascript' src='./js/jquery-3.3.1.min.js')
  script(type='text/javascript' src='./app.js?r='+Date.now())
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')



